@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

html {
    background-color: #757575;
}

body {
    margin: 0 auto;
    max-width: 600px;
    border: 1.334vh solid #111;
    border-radius: 4.5vh;
    min-height: 100vh;
    height: 100%;
    font-family: 'Smythe', cursive;
    background-color: white;
} 

main {
    position: relative;
    width: 100%;
}

header {
    width: auto;
    height: 175px;
    border: 1px solid black;
    background-image: url('./images/header.jpg');
    border-radius: 25px 25px 0 0;
    z-index: -1;
    margin-bottom: 45px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding-left: 45px;
    height: 100%;
}

.header-text > h1, h3 {
    margin: 0;
    color: white;
    text-shadow: 2px 0px 2px rgba(0,0,0,0.6);
}

.food-item-container {
    display: flex;
    align-items: center;
    gap: 30px;
    height: auto;
    margin: 0 45px 20px 45px;
    padding: 10px;
    border-bottom: 1px solid #D2D2D2;
}

.food-item-image {
    font-size: 78px;
    margin: 0;
}

.food-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.food-details-container > p {
    margin: 0;
}

.food-name, 
.food-price,
.checkout-header,
.checkout-item-name,
.total,
.total-price,
.food-price,
.total-price {
    font-weight: bold;
    margin: 0;
    font-size: 28px;
}

.add-item-btn {
    margin-left: auto;
    width: 50px;
    padding: 5px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    font-size: 32px;
    cursor: pointer;
}

.checkout {
    visibility: hidden;
    margin: 0 45px 20px 45px;
    display: flex;
    flex-direction: column;
}

.checkout-header {
    align-self: center;
    margin: 0 0 20px 0;
}

.checkout-total {
    border-top: 2px solid #393333;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    margin-right: auto;
}

.checkout-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.remove-item-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 400;
    border: none;
    color: #BBBBBB;
    background: none;
    margin-right: auto;
    cursor: pointer;
    padding-top: 5px;
}

.checkout-btn {
    width: 100%;
    height: 60px;
    background: #16DB99;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.payment-info-container {
    visibility: hidden;
    position: absolute;
    width: 90%;
    height: 450px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0 20px;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.close-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
    border: none;
    background: none;
    margin-left: auto;
    margin-top: 10px;
    cursor: pointer;
}

.payment-info-container > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin: 0;
}

input {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: 1.29664px solid #757575;
    border-radius: 3.88991px;
    padding: 0;
}

.pay-btn {
    width: 100%;
    height: 60px;
    background: #16DB99;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px
}

.order-complete-container {
    visibility: hidden;
    position: absolute;
    top: -500px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 200px;
    margin: auto;
    background: #ECFDF5;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.order-complete-container > h1 {
    margin: 20px 0 20px 0;
}

.reset-btn {
    width: 100%;
    height: 60px;
    background: #16DB99;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    padding: 0;

}

@media screen and (max-width: 500px) {
    .food-item-container {
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        margin: 0 20px 20px 20px;
        padding: 0;
    }

    .food-details-container {
        flex-wrap: wrap;
        gap: 2px;
    }

    .add-item-btn {
        width: 100%;
        padding: 0px;
        border-radius: 2px;
        margin-bottom: 20px;
    }
  }